body, html{
    position: relative;
    height: 100%;
    min-height: 100vh
}

h3{
    padding-top: 70px; 
}
.affix {
    top: 20px;
  }

.sticky-offset {
    padding-top: 70px
}
.scrollspy-example {
    position: relative;
    height: auto;
    overflow: auto;
}
.disable-color-nav{
    color: #9D9D9D;
}

.add-margin{
    margin-top: 25px;
}
.add-big-margin{
    margin-top: 70px;
}