body, html{
    position: relative;
    height: 100%;
    min-height: 100vh;
    padding-top: 30px;
}

.sticky-offset {
    top: 70px
}
.scrollspy-example {
    position: relative;
    height: auto;
    overflow: auto;
}

.add-margin{
    margin-top: 25px;
}


.bg-custom-1 {
    background-color: #CF4446;
}
.bg-custom-2 {
    background-color: #F55052;
}
.bg-custom-3 {
    background-color: #FF8051;
}
.bg-custom-4 {
    background-color: #B43359;
}
.bg-custom-5 {
    background-color: #DA3D6B;
}
.bg-custom-6 {
    background-color: #f95d6a;
}
.bg-custom-7 {
    background-color: #781C6D;
}
.bg-custom-8 {
    background-color: #781C6D;
}
.bg-custom-9 {
    background-color: #4d2686;
}
